body {
  padding: 0;
  margin: 0;
  background-image: linear-gradient(90deg, #c147e9, #fdf8fe);
}

.custom-shape-divider-top-1669901121 {
  position: relative;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1669901121 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 183px;
}

.custom-shape-divider-top-1669901121 .shape-fill {
  fill: #fbfbfb;
}

.bg {
  height: 100vh;
  width: 50%;
}

.qq {
  float: left;
  height: 60%;
  width: 30%;
}

.animated {
  position: absolute;
  top: 20%;
  left: 10%;
  height: 500px;
  width: 500px;
}

.form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 4rem 20rem 0rem 0rem;
  float: right;
}

.form-control {
  margin: 0px 5px 0 px 0px;
  width: auto;
  color: rgba(239, 32, 222, 0.322);
  padding: 10px 10px 10px 10px;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  border: 1px rgba(239, 32, 222, 0.322);
  border-radius: 5px;
  color: rgba(239, 32, 222, 0.322);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  color: #212529;
}

.butn {
  width: auto;
  font-family: "Dosis", Sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  background-color: rgba(239, 32, 222, 0.167);
  border-width: 1px 1px 1px 1px;
  border-radius: 10px;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0.8rem 1.2rem;
  border: 0;
  color: #fff;
  font-size: 0.9rem;
}

.butn:hover {
  background-color: #ffffff;
  border-width: 1px 1px 1px 1px;
  border-radius: 10px;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0.8rem 1.2rem;
  border: 0;
  color: rgb(239, 32, 222);
  font-size: 0.9rem;
  box-shadow: 0 12px 16px 0 rgba(239, 32, 222, 0.322),
    0 17px 50px 0 rgba(239, 32, 222, 0.322);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}



